<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="DataBaseAddress" value="http://localhost:5984"/>
    <add key="DataBaseName" value="c3controls"/>
    <add key="DataBase" value="WTL"/>
    <add key="DataBasePTT" value="PTT"/>

  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>