<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <add key="DataBaseAddress" value="https://admin:ffd9dabc35a0@couchdb-784ccc.smileupps.com/"/>
    <add key="DataBaseUser" value="admin"/>
    <add key="DataBasePassword" value="ffd9dabc35a0"/>
    <add key="DataBaseName" value="c3controls"/>
    <add key="DataBaseWTL" value="C3Controls_WTL"/>
    <add key="DataBasePTT" value="C3Controls_PTT"/>
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>